
CREATE TABLE [dbo].[bitacora](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[texto] [varchar](500) NOT NULL,
 CONSTRAINT [PK_bitacora] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[comentarios]    Script Date: 17/4/2018 12:19:48 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[comentarios](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[texto] [varchar](300) NOT NULL,
	[id_usuario] [int] NOT NULL,
	[fecha] [datetime] NOT NULL,
 CONSTRAINT [PK_comentarios] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[invitaciones]    Script Date: 17/4/2018 12:19:48 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[invitaciones](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[fecha] [datetime] NULL,
	[usuario_1] [int] NOT NULL,
	[usuario_2] [int] NOT NULL,
	[estado] [char](1) NULL DEFAULT ('P'),
 CONSTRAINT [pk_invitaciones] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[relaciones]    Script Date: 17/4/2018 12:19:48 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[relaciones](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[usuario_1] [int] NOT NULL,
	[usuario_2] [int] NOT NULL,
 CONSTRAINT [pk_relaciones] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[sentimientos]    Script Date: 17/4/2018 12:19:48 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sentimientos](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[sentimiento] [bit] NOT NULL,
	[id_usuario] [int] NOT NULL,
	[id_comentario] [int] NOT NULL,
 CONSTRAINT [PK_sentimientos] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[usuario]    Script Date: 17/4/2018 12:19:48 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[usuario](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[email] [varchar](50) NOT NULL,
	[numero_relaciones] [int] NOT NULL CONSTRAINT [DF__usuario__numero___5EBF139D]  DEFAULT ((0)),
 CONSTRAINT [pk_usuario] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[comentarios] ON 

INSERT [dbo].[comentarios] ([id], [texto], [id_usuario], [fecha]) VALUES (4, N'dis parturient montes, nascetur', 18, CAST(N'2009-05-31 00:00:00.000' AS DateTime))
INSERT [dbo].[comentarios] ([id], [texto], [id_usuario], [fecha]) VALUES (5, N'cursus et, magna. Praesent interdum ligula eu enim. Etiam', 38, CAST(N'2014-09-11 00:00:00.000' AS DateTime))
INSERT [dbo].[comentarios] ([id], [texto], [id_usuario], [fecha]) VALUES (6, N'non, dapibus rutrum, justo. Praesent luctus. Curabitur egestas nunc sed', 19, CAST(N'2013-11-11 00:00:00.000' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[comentarios] OFF
SET IDENTITY_INSERT [dbo].[invitaciones] ON 

INSERT [dbo].[invitaciones] ([id], [fecha], [usuario_1], [usuario_2], [estado]) VALUES (1, CAST(N'2015-08-07 00:00:00.000' AS DateTime), 75, 84, N'P')
INSERT [dbo].[invitaciones] ([id], [fecha], [usuario_1], [usuario_2], [estado]) VALUES (2, CAST(N'2017-04-20 00:00:00.000' AS DateTime), 88, 61, N'P')
INSERT [dbo].[invitaciones] ([id], [fecha], [usuario_1], [usuario_2], [estado]) VALUES (3, CAST(N'2011-06-15 00:00:00.000' AS DateTime), 37, 5, N'P')
GO
SET IDENTITY_INSERT [dbo].[invitaciones] OFF
SET IDENTITY_INSERT [dbo].[relaciones] ON 

INSERT [dbo].[relaciones] ([id], [usuario_1], [usuario_2]) VALUES (122, 1, 34)
INSERT [dbo].[relaciones] ([id], [usuario_1], [usuario_2]) VALUES (59, 1, 35)
INSERT [dbo].[relaciones] ([id], [usuario_1], [usuario_2]) VALUES (120, 1, 42)
SET IDENTITY_INSERT [dbo].[relaciones] OFF
SET IDENTITY_INSERT [dbo].[sentimientos] ON 

INSERT [dbo].[sentimientos] ([id], [sentimiento], [id_usuario], [id_comentario]) VALUES (1, 0, 19, 56)
INSERT [dbo].[sentimientos] ([id], [sentimiento], [id_usuario], [id_comentario]) VALUES (2, 0, 36, 89)
INSERT [dbo].[sentimientos] ([id], [sentimiento], [id_usuario], [id_comentario]) VALUES (3, 0, 39, 69)
GO
SET IDENTITY_INSERT [dbo].[sentimientos] OFF
SET IDENTITY_INSERT [dbo].[usuario] ON 

INSERT [dbo].[usuario] ([id], [nombre], [email], [numero_relaciones]) VALUES (1, N'Kennedy Cruz', N'dis.parturient@Utnecurna.ca', 4)
INSERT [dbo].[usuario] ([id], [nombre], [email], [numero_relaciones]) VALUES (2, N'Harper Bell', N'tellus.sem@maurissagittis.ca', 4)
INSERT [dbo].[usuario] ([id], [nombre], [email], [numero_relaciones]) VALUES (3, N'Ulysses Abbott', N'nascetur@suscipitnonummyFusce.edu', 2)
GO
SET IDENTITY_INSERT [dbo].[usuario] OFF
/****** Object:  Index [uk_invitaciones]    Script Date: 17/4/2018 12:19:48 p. m. ******/
ALTER TABLE [dbo].[invitaciones] ADD  CONSTRAINT [uk_invitaciones] UNIQUE NONCLUSTERED 
(
	[usuario_1] ASC,
	[usuario_2] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [uk_relaciones]    Script Date: 17/4/2018 12:19:48 p. m. ******/
ALTER TABLE [dbo].[relaciones] ADD  CONSTRAINT [uk_relaciones] UNIQUE NONCLUSTERED 
(
	[usuario_1] ASC,
	[usuario_2] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[comentarios]  WITH CHECK ADD  CONSTRAINT [FK_comentarios_usuario] FOREIGN KEY([id_usuario])
REFERENCES [dbo].[usuario] ([id])
GO
ALTER TABLE [dbo].[comentarios] CHECK CONSTRAINT [FK_comentarios_usuario]
GO
ALTER TABLE [dbo].[invitaciones]  WITH CHECK ADD  CONSTRAINT [fk_invitaciones_usuario_1] FOREIGN KEY([usuario_1])
REFERENCES [dbo].[usuario] ([id])
GO
ALTER TABLE [dbo].[invitaciones] CHECK CONSTRAINT [fk_invitaciones_usuario_1]
GO
ALTER TABLE [dbo].[invitaciones]  WITH CHECK ADD  CONSTRAINT [fk_invitaciones_usuario_2] FOREIGN KEY([usuario_2])
REFERENCES [dbo].[usuario] ([id])
GO
ALTER TABLE [dbo].[invitaciones] CHECK CONSTRAINT [fk_invitaciones_usuario_2]
GO
ALTER TABLE [dbo].[relaciones]  WITH CHECK ADD  CONSTRAINT [fk_relaciones_usuario_1] FOREIGN KEY([usuario_1])
REFERENCES [dbo].[usuario] ([id])
GO
ALTER TABLE [dbo].[relaciones] CHECK CONSTRAINT [fk_relaciones_usuario_1]
GO
ALTER TABLE [dbo].[relaciones]  WITH CHECK ADD  CONSTRAINT [fk_relaciones_usuario_2] FOREIGN KEY([usuario_2])
REFERENCES [dbo].[usuario] ([id])
GO
ALTER TABLE [dbo].[relaciones] CHECK CONSTRAINT [fk_relaciones_usuario_2]
GO
ALTER TABLE [dbo].[sentimientos]  WITH CHECK ADD  CONSTRAINT [FK_sentimientos_comentarios] FOREIGN KEY([id_comentario])
REFERENCES [dbo].[comentarios] ([id])
GO
ALTER TABLE [dbo].[sentimientos] CHECK CONSTRAINT [FK_sentimientos_comentarios]
GO
ALTER TABLE [dbo].[sentimientos]  WITH CHECK ADD  CONSTRAINT [FK_sentimientos_usuario] FOREIGN KEY([id_usuario])
REFERENCES [dbo].[usuario] ([id])
GO
ALTER TABLE [dbo].[sentimientos] CHECK CONSTRAINT [FK_sentimientos_usuario]
GO
ALTER TABLE [dbo].[invitaciones]  WITH CHECK ADD  CONSTRAINT [ck_invitaciones] CHECK  (([estado]='R' OR [estado]='A' OR [estado]='P'))
GO
ALTER TABLE [dbo].[invitaciones] CHECK CONSTRAINT [ck_invitaciones]
GO
USE [master]
GO
